*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #141414;
    font-family: 'Open Sans', sans-serif;
}


.conte_header{
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: #141414;

    border-end-start-radius: 25px;
    border-end-end-radius: 25px;
    transition: 1s;
}

.nav_header{
    height: 100px;
    box-shadow: 1px 0px 10px 0px #AAA;
    padding-left: 10px;
    background: #141414;
}

.titulo{
    color: #1783db;
    font-size: 42px;
    margin-left: 16px;
}

header .titulo:hover{
	transition: 0.8s;
	transform: scale(1.1);
}

.nav a{
    margin-right: 40px;
    padding: 2px;
    font-size: 21px;
    text-decoration: none;
    color: #fff;
}

.nav a:hover {
	color: #fff;
    border-bottom: 2px solid #1783db;
    font-size: 30px;
    transition: 0.5s;
}

.conte_section{
    min-height: 40.62em;
    font-size: 16px;
    background-color: aqua;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/img_pagina.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 52px;
    display: flex;
    align-items: center;
}
.contenedor{
    margin-left: 50px;
    color: white;
}

.contenedor .titulo1{
   font-size: 6rem;   
}

.contenedor .texto{
    max-width: 50%;   
    margin-top: 32px;
    font-size: 25px; 
    font-weight: 600;  
 }


.boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.50em;
	padding: 22px 52px;
	color: #fff;
	margin-right: 50px;
    margin-top: 23px;
	cursor: pointer;
	transition: .6s ease all;
	font-size: 1.12em;
}

.boton:hover {
	background: #fff;
	color: #000;
}

.conte_servicio{
    color: white;
    margin-top: 25px;
    min-height: 45.2em;    
}

.conte_servi{
    display: flex;
}

.conte_servicio .titulo2{
    font-size: 33px;
    text-align: center;
    position: relative;
}


.conte_servicio .servicios {
    margin-top: 30px;
    margin-left: 65px;
}
.conte_servicio .servicios h3{
   margin-left: 35%;
}
 
.conte_servicio .servicios p{
    width: 80%;
    height: 60%;
    margin-left: 32px;
    margin-top: 34px;
    /* background-color: #1783db; */
}
  

.conte_servicio .servicios img{
    margin-top: 40px;
    width: 550px;
    height: 60%;
    transition: all 300ms;
}

.conte_servicio .servicios img:hover{
    transform: scale(1.15);
}
 

/* peliculas recomendadas */


.pelicu_recomendadas{
    max-width: 95%;
    min-height: 40.1em;
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 30px;
    margin-left: 22px;
    background-color: #1783db;
}

.pelicu_recomendadas .titulo2{
    text-align: center;
    font-size: 33px;
    margin-top: 12px;
}

.container_peli{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #1783db;
}

.pelicula{
    width: 250px;
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
    margin-left: 8px;

}


.pelicula:hover .info__description{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;

}

.pelicula:hover .icon{
    margin-top: -100px;
    border-radius: 20px 20px 0px 0px;
}

.pelicula .icon{
    width: 100%;
    height: 220px;
    background: #EFF3F5;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 15px;
}

.icon img{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 15px;
}

.info__description{
    width: 100%;
    height: 220px;
    background: #EFF3F5;
    padding: 20px;
    margin-bottom: -720px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.info__description p{
    font-size: 14px;
    margin-top: 10px;
    /* display: -webkit-box;
    display: -moz-box;
    display: box; */
    -webkit-box-orient: vertical;
    /* -moz-box-orient: vertical;
    box-orient: vertical; */
    -webkit-line-clamp: 5;
    /* line-clamp: 5; */
    overflow: hidden;
}

.info__description .boton{
    margin-top: 10px;
    padding: 10px 40px;
    margin-left: 44px;
    background: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

.info__description .boton1{
    margin-top: 5px;
    padding: 10px 40px;
    margin-left: 28px;
    background: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

/* series recomendadas */

.serie_recomendadas{
    max-width: 100%;
    min-height: 40.1em;
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 30px;
    background-color: #141414;
}

.serie_recomendadas .titulo2{
    text-align: center;
    color: white;
    font-size: 33px;
    margin-top: 12px;
}

.conte_serie{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #141414;
}


.serie{
    width: 250px;
    position: relative;
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
}


.serie:hover .info__description{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;

}

.serie:hover .icon{
    margin-top: -100px;
    border-radius: 20px 20px 0px 0px;
}

.serie .icon{
    width: 100%;
    height: 220px;
    background: #EFF3F5;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 15px;
}

.icon img{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 15px;
}

.info__description{
    width: 100%;
    height: 220px;
    background: #EFF3F5;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.info__description p{
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    /* display: -moz-box;
    display: box; */
    -webkit-box-orient: vertical;
    /* -moz-box-orient: vertical;
    box-orient: vertical; */
    -webkit-line-clamp: 5;
    /* line-clamp: 5; */
    overflow: hidden;
}

.info__description .boton{
    margin-top: 10px;
    padding: 10px 40px;
    margin-left: 44px;
    background: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

.info__description .boton1{
    margin-top: 5px;
    padding: 10px 40px;
    margin-left: 28px;
    background: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}


/* libros recomendadas */


.libros_recomendadas{
    max-width: 95%;
    min-height: 40.1em;
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 30px;
    margin-left: 22px;
    background-color: #1783db;
}

.libros_recomendadas .titulo2{
    text-align: center;
    font-size: 33px;
    margin-top: 12px;
}

.conte_libros{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #1783db;
}


.libros{
    width: 250px;
    position: relative;
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
    margin-left: 8px;
}

.libros:hover .info__description{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}

.libros:hover .icon{
    margin-top: -100px;
    border-radius: 20px 20px 0px 0px;
}

.libros .icon{
    width: 100%;
    height: 220px;
    background: #EFF3F5;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 15px;
}

.icon img{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 15px;
}

.info__description{
    width: 100%;
    height: 260px;
    background: #EFF3F5;
    padding: 20px;
    margin-top: -260px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.info__description p{
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    /* display: -moz-box;
    display: box; */
    -webkit-box-orient: vertical;
    /* -moz-box-orient: vertical;
    box-orient: vertical; */
    -webkit-line-clamp: 5;
    /* line-clamp: 5; */
    overflow: hidden;
}
.info__description .boton{
    margin-top: 10px;
    padding: 10px 40px;
    margin-left: 44px;
    background: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

.info__description .boton1{
    margin-top: 5px;
    padding: 10px 40px;
    margin-left: 28px;
    background: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}

footer{
    width: 100%;
    color: white;
    bottom: 0;
    left: 0;
    margin-top: 70px;
}



.footer1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;

}

.colum1 h1{
    font-size: 20px;
}

.colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;

}

.colum2{
    max-width: 400px;

}

.colum2 h1{
    font-size: 22px;

}

.icono{
    margin-top: 20px;
    display: flex;
}

.icono i{
    font-size: 30px;
    color: white;
}

.icono label{
    margin-top: 10px;
    margin-left: 10px;
    color: #c7c7c7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.icono1{
    margin-top: 20px;
    display: flex;
}

.icono1 i{
    font-size: 30px;
}

.icono1 label{
    margin-left: 20px;
    margin-top: 10px;
    max-width: 140px;
}