:root {
	--azul: #1783db;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

.conte_header{
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: #141414;
    border-end-start-radius: 25px;
    border-end-end-radius: 25px;
    transition: 1s;
}

.nav_header{
    height: 100px;
    box-shadow: 1px 0px 10px 0px #AAA;
    padding-left: 10px;
    background: #141414;
}

.titulo{
    color: #1783db;
    font-size: 42px;
	margin-left: 16px;
}

header .titulo:hover{
	transition: 0.8s;
	transform: scale(1.1);
}

.nav a{
    margin-right: 40px;
    padding: 2px;
    font-size: 21px;
    text-decoration: none;
    color: #fff;
}

.nav a:hover {
	color: #fff;
    border-bottom: 2px solid var(--azul);
    font-size: 30px;
    transition: 0.5s;
}



.menu ul {
	list-style: none;
	width: 100%;
	display: table;
	padding: 150px;
}

.menu ul li {
	display: table-cell;
	width: calc(30px * 5)
}

.menu ul li:hover {
	background: rgba(0, 0, 0, 0.9);
}

.menu ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

.menu ul .todos {background: var(--azul);}
.menu ul .accion {background: #1b8dea;}
.menu ul .ficcion {background: var(--azul);}
.menu ul .drama {background: #1b8dea;}
.menu ul .terror {background: var(--azul);}


/* ---- ----- ----- Pelicula Principal ----- ----- ----- */

.main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
	/* margin: auto; */
}

.headerPeliculas{
	position: relative;
	bottom: 50px;	 
}

.headerStranger{
	position: relative;
	bottom: 22px;
}

.headerlos100{
	position: relative;
	bottom: 30px;
}

.headerBojackHorseman{
	position: relative;
	bottom: 55px;
}

.headerDark{
	position: relative;
	bottom: 80px;
}

.pelicula-principal {
	font-size: 16px;
	min-height: 15.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Vikingos.png);
	background-position: center center;
	background-size: cover;
	margin-bottom: 5.12em;
    margin-left: 4.12em;
    display: flex;
	align-items: end;
    width: 350px;
	box-shadow:0 1.7px 20.3px rgb(255, 255, 255), 0 5px 35px rgb(255, 255, 255);
	border-radius: 40px;
}

.casaPapel{
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/casaPapel.jpg);
	background-size: cover;
}

.strangerThings{
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/StrangerThings.jpg);
	background-size: cover;
}

.peakyBlinders{
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/peakyBlinders.jpg);
	background-size: cover;
}

.losBridgerton{
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/losBridgerton.jpg);
	background-size: cover;
}

.Los100{
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/los100.jpg);
	background-size: cover;
}

.Eljuegodelcalamar{
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Eljuegodelcalamar.jpg);
	background-size: cover;
}

.BojackHorseman{
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/BoJackHorseman.jpg);
	background-size: cover;
}

.Dark{
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Dark.jpg);
	background-size: cover;
}

.main .pelicula-principal:hover{
	transition: 0.8s;
	transform: scale(1.1);
}

.pelicula-principal .contenedor {
	height: auto;
	margin: 0 auto;
	margin-bottom: 2.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;	
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1.1em;
	line-height: 1.75em;
	max-width: auto;
	margin-bottom: 1.25em;
	text-align: center;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-left: 1.5em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- footer ----- ----- ----- */

footer{
    width: 100%;
    color: white;
    bottom: 0;
    left: 0;
    margin-top: 70px;
	border-top:1px solid var(--azul) ;
}

.footer1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 20px;
}

.colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
}

.colum2 h1{
    font-size: 22px;
}

.icono{
    margin-top: 20px;
    display: flex;
}

.icono i{
    font-size: 30px;
    color: white;
}

.icono label{
    margin-top: 10px;
    margin-left: 10px;
    color: #c7c7c7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.icono1{
    margin-top: 20px;
    display: flex;
}

.icono1 i{
    font-size: 30px;
}

.icono1 label{
    margin-left: 20px;
    margin-top: 10px;
    max-width: 140px;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */

@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}
}